@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, @User.Identity.Name!</h1>
    <hr />
    <img src="https://vmasshtabe.ru/wp-content/uploads/2015/09/304988-vms-KOMPAS-Sushilnyiy-baraban_fn-1.jpg" width="35%">
    <p align="justify">
        <i>Сушильные барабаны</i> применяются для сушки различных сырьевых материалов и топлива со сравнительно высокой первоначальной влажностью и вязкостью.
        Сушильные барабаны имеют сравнительно большую производительность. Они являются пока единственными установками,
        в которых можно без особых затруднений высушивать вязкие кусковые материалы.
    </p>
</div>
